 <!-- Title group  -->
 <div class="title-group">
   <h1 class="mat-h1">Agregar Libro</h1>
   <mat-divider fxFlex="1 0"></mat-divider>
 </div>

 <!-- Book form -->
 <div class="inner-wrapper">
   <form [formGroup]="bookForm" (ngSubmit)="submitBook()" #resetBookForm="ngForm" novalidate>
     <!-- Left block -->
     <mat-card>
       <div class="controlers-wrapper">
         <!-- Book name -->
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Nombre del libro" formControlName="book_name">
           <mat-error *ngIf="handleError('book_name', 'required')">
             Se debe proporcionar un <strong>nombre del libro</strong>
           </mat-error>
         </mat-form-field>

         <!-- ISBN -->
         <mat-form-field class="example-full-width">
           <input matInput placeholder="ISBN-10" formControlName="isbn_10" pattern="[0-9]*" minlength="10"
             maxlength="10">
           <mat-error *ngIf="handleError('isbn_10', 'required')">
            Se debe proporcionar un <strong>ISBN de 10 dígitos</strong>
           </mat-error>
           <mat-error *ngIf="handleError('isbn_10', 'pattern')">
             Solo se permiten números
           </mat-error>
           <mat-error *ngIf="handleError('isbn_10', 'minlength')">
             Su <strong>ISBN</strong> debe ser de 10 dígitos
           </mat-error>
         </mat-form-field>

         <!-- Autor -->
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Autor" formControlName="author_name">
           <mat-error *ngIf="handleError('author_name', 'required')">
            Se debe proporcionar un <strong>autor</strong>
           </mat-error>
         </mat-form-field>

         <!-- Fecha de publicación -->
         <mat-form-field>
           <input matInput readonly [matDatepicker]="picker" placeholder="Fecha de publicación"
             formControlName="publication_date" (dateChange)="formatDate($event)">
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
           <mat-error *ngIf="handleError('publication_date', 'required')">
             La fecha de publicación es requerida.
           </mat-error>
         </mat-form-field>
       </div>
     </mat-card>

     <!-- Right block -->
     <mat-card>
       <div class="controlers-wrapper">
         <!-- Presentación -->
         <mat-form-field>
           <mat-label>Tipo de encuadernación</mat-label>
           <mat-select [(value)]="selected" formControlName="binding_type">
             <mat-option [value]="bindingType" *ngFor="let bindingType of BindingType">{{bindingType}}</mat-option>
           </mat-select>
           <mat-error *ngIf="handleError('binding_type', 'required')">
            Tipo de encuadernación es requerida
           </mat-error>
         </mat-form-field>

         <!-- Disponibilidad -->
         <div class="misc-bottom-padding">
           <mat-label>Disponible en stock: </mat-label>
           <mat-radio-group aria-label="Seleccione una opción" formControlName="in_stock">
             <mat-radio-button value="Si">Si</mat-radio-button>
             <mat-radio-button value="No">No</mat-radio-button>
           </mat-radio-group>
         </div>

         <!-- Agregar idioma -->
         <mat-form-field class="multiple-items">
           <mat-chip-list #chipList>
             <mat-chip *ngFor="let lang of languageArray" [selectable]="selectable" [removable]="removable"
               (removed)="remove(lang)">
               {{lang.name}}
               <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
             </mat-chip>
             <input placeholder="Agregar idioma" [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
           </mat-chip-list>
           <i class="material-icons tooltip-info" matTooltip="Ingrese el nombre del elemento y presione enter para agregar varios elementos">
             info
           </i>
         </mat-form-field>
       </div>
     </mat-card>

     <!-- Enviar & Limpiar -->
     <mat-card>
       <div class="full-wrapper button-wrapper">
         <div class="button-wrapper">
           <button mat-flat-button color="warn">Enviar</button>
           <button mat-flat-button color="war" (click)="resetForm()">Limpiar</button>
         </div>
       </div>
     </mat-card>
   </form>
 </div>
