<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Busqueda de libros</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- No data message -->
<p *ngIf="BookData.length <= 0" class="no-data">¡No hay datos agregados todavía!</p>

<!-- Books list Angular material data table -->
<div class="container" *ngIf="BookData.length > 0">

  <div class="inner-wrapper">
    <form [formGroup]="lstBookForm" (ngSubmit)="searchBook()" #resetListBookForm="ngForm">
      <!-- Perfiles -->
      <mat-card>
          <div class="controlers-wrapper">
            <mat-form-field>
              <mat-label>Tipo de perfil</mat-label>
              <mat-select [(value)]="selected" formControlName="binding_type">
                <mat-option [value]="bindingType" *ngFor="let bindingType of BindingType">{{bindingType}}</mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('binding_type', 'required')">
                Tipo de perfil es requerida
              </mat-error>
            </mat-form-field>
          </div>
      </mat-card>
      <!-- Agregar tópicos -->
      <mat-card>
        <div class="controlers-wrapper">
          <mat-form-field class="multiple-items">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let lang of languageArray" [selectable]="selectable" [removable]="removable"
                (removed)="remove(lang)">
                {{lang.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Agregar tópicos" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <i class="material-icons tooltip-info" matTooltip="Ingrese el nombre del elemento y presione enter para agregar varios elementos">
              info
            </i>
          </mat-form-field>
        </div>
      </mat-card>
      
      <!-- Enviar & Limpiar -->
     <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Buscar</button>
          <button mat-flat-button color="war" (click)="resetForm()">Limpiar</button>
        </div>
      </div>
    </mat-card>
    </form>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="$key">
        <th mat-header-cell *matHeaderCellDef> ID Libro </th>
        <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
      </ng-container>

      <ng-container matColumnDef="book_name">
        <th mat-header-cell *matHeaderCellDef> Nombre del libro </th>
        <td mat-cell *matCellDef="let element"> {{element.book_name}} </td>
      </ng-container>

      <ng-container matColumnDef="author_name">
        <th mat-header-cell *matHeaderCellDef> Nombre del autor </th>
        <td mat-cell *matCellDef="let element"> {{element.author_name}} </td>
      </ng-container>

      <ng-container matColumnDef="publication_date">
        <th mat-header-cell *matHeaderCellDef> Fecha de la publicación </th>
        <td mat-cell *matCellDef="let element"> {{element.publication_date}} </td>
      </ng-container>

      <ng-container matColumnDef="in_stock">
        <th mat-header-cell *matHeaderCellDef> Disponibilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.in_stock}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button mat-raised-button color="primary" class="push-right"
            [routerLink]="['/edit-book/', element.$key]">Editar</button>
          <button mat-raised-button color="accent" (click)="deleteBook(i, element)">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>